a {
  color: #00b5cc;
}

.navbar-nav .active {
  color: #b2df28;
}

.button1 {
  background-color: #00b5cc;
  border: none;
  font-size: large;
}

.item1, .form1 {
  font-size: large;
  margin-right: 15px;
}
