<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid box1 px-3 px-lg-5">
    <a class="navbar-brand" href="#">
      <img src="../../assets/Rick-And-Morty.png" height="50" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex">
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item item1">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item item1">
            <a class="nav-link" href="/characters">Characters</a>
          </li>
          <li class="nav-item item1">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
      <form class="d-flex">
        <input
          class="form-control me-2 form1"
          type="text"
          placeholder="Search"
        />
        <button class="btn btn-primary button1" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
